main {
  height: 100vh;
}

nav {
  background-color: #012b4b;
}

main,
#about,
#contact,
#showcase,
#social-bottom {
  background-color: #000020;
}

#about .description h1 {
  color: #f70e4d;
}

#about .description p {
  color: lightgray;
}

#contact-form div input,
#contact-form div textarea {
  background-color: #000020;
}

#introduction {
  color: white;
}

#job-title {
  color: #008ec0;
}

#main-illustration {
  background: url("../images/header_illustration.svg");
  background-size: cover;
}

#showcase {
  color: white;
}

.bullet {
  color: #f70e4d;
}

.heading {
  color: #f70e4d;
}

.modal-showcase {
  background-color: #180c45;
}

.project-link-container {
  height: 10%;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: 1.5s ease;
}

.project-modal-trigger {
  background-color: #f70e4d;
  border-color: #f70e4d;
  color: white;
}

.project-modal-trigger:active {
  background-color: #5c031e;
  border-color: #5c031e;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(247, 14, 77, 0.5);
}

.project-modal-trigger:focus {
  box-shadow: 0 0 0 0.25rem rgba(247, 14, 77, 0.5);
}

.project-modal-trigger:hover {
  background-color: #5c031e;
  border-color: #5c031e;
  color: white;
}

.project-skills-showcase-outline {
  border-color: #008ec0;
  color: #008ec0;
}

.project-skills-showcase,
.project-skills-showcase-outline:hover {
  background-color: #008ec0;
  border-color: #008ec0;
  color: white;
}

.project-skills-showcase:hover {
  background-color: #008ec0;
  border-color: #008ec0;
  color: white;
  cursor: default;
}

.showcase-body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    black 100%
  );
  height: auto;
}

.skills {
  color: white;
}

.skills ul li {
  padding-bottom: 1rem;
}

.social-icons a {
  color: #008ec0;
}

@media (max-width: 576px) {
  .showcase-card {
    max-height: 320px;
  }
}

@media (min-width: 992px) {
  .showcase-card {
    /* Need to assign a max-height for the transition to work. The value will be defined by the img height */
    max-height: 435px;
  }

  .showcase-card .showcase-body {
    /* Need to assign a max-height for the transition to work. The value will be defined by the img height */
    max-height: 435px;
    transition: 1.5s ease;
  }

  .showcase-card:hover .showcase-body {
    max-height: 90%;
  }

  .showcase-card:hover .project-link-container {
    opacity: 1;
    top: 90%;
  }
}

@media (max-width: 992px) {
  .form-submit,
  .skills,
  .skills div {
    text-align: center;
  }
}
